img {
    
    /* padding: 10px;
    border: 1px solid red;
    margin: 10px;
    background: slategray;
    // Lo que controla la presentación de los elementos es la propiedad display 
    display: block; 

    /* Forma en que la imagen ocupe todo el ancho */
    width: 100%;
    height: auto;
}