body {
    background-image: url(https://placeimg.com/900/900/nature);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: mpact, Verdana, Geneva, Tahoma, sans-serif;
} 
.contenedorPrincipal {
    width: 700px; 
    min-height: 550px; 
    background:rgb(217, 245, 238); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow: auto;
}
.columIzq {
    min-height: 550px;
    width:28%;
    background-color: coral;
    float: left;
    position: absolute;
    left:2%;
    overflow: hidden;
}
.columDer {
    min-height: 550px;
    width: 68%;
    background-color:cornsilk;
    float: right;
    position: absolute;
    right:2%;
} 
.columDer h1,p {
    margin-left: 10px;
}
.contenedorImgPrincipal {
    height: 170px;
    width: 170px;
    background-color: white;
    margin: 10px auto;
}
.contenedorImgPrincipal img:first-of-type{
    height: 100%;
    min-height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 10px;
}
.contenedorImgs {
    height: 150px;
    width: 150px;
    background-color: white;
    margin: 10px auto;
}
.columDer .contenedorImgs{
    height: 150px;
    width: 150px;
    background-color: white;
    text-indent: 10px;
    display: inline-block;
    transform: translateY(102%);
}
div .itemRedes{
    width: 50px;
    min-height: 50px;
    background-color: silver;
    margin-bottom: 5px;
    margin-left: 10px;
}
a{
    float: right;
}
.columIzq h2{
    font-size: 15px;
    margin-left: 10px;
}

