.contenedorPrincipal {
    width: 1338px; 
    min-height: 500px; 
    background:salmon;
    margin: auto; 
}
.contenedorImg {
    width: 200px;
    height: 200px;
    background: rgb(220, 220, 220);
    float: right;
    border: 1px;
    margin: 10px;
}
label, input {
    display: block;
}
h1,h2,p, label, input, textarea {
    margin: 5px;
    font-family: sans-serif;
}

