body {
    background-image: url(https://placeimg.com/900/900/nature);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: mpact, Verdana, Geneva, Tahoma, sans-serif;
} 
.contenedorPrincipal {
    width: 700px; 
    min-height: 550px; 
    background:rgb(217, 245, 238); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow: auto;
}
.columIzq {
    min-height: 550px;
    width:28%;
    background-color: coral;
    float: left;
    position: absolute;
    left:2%;
    overflow: auto;
}
.columDer {
    min-height: 550px;
    width: 68%;
    background-color:cornsilk;
    float: right;
    position: absolute;
    right:2%;
} 
.columDer h1,p {
    margin-left: 10px;
}
.contenedorImgPrincipal {
    height: 170px;
    width: 170px;
    background-color: white;
    margin: 10px auto;
}
.contenedorImgPrincipal img{
    height: 100%;
    min-height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 10px;
}
.contenedorImgs {
    height: 150px;
    width: 160px;
    background-color:white;
    margin: 0 auto;
    overflow: hidden;
}
.columDer .contenedorImgs{
    height: 150px;
    width: 155px;
    background-color: white;
    border: 13px;
    display: inline-block;
    position: relative;
    top: 105px;
}
.columIzq h2{
    font-size: 15px;
    margin-left: 10px;
}
#itemRedes{
    width: 47px;
    min-height: 47px;
    background-color: silver;
    margin-bottom: 5px;
    margin-left: 10px;
}
#itemRedes a {
    display: block;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size:40px;
    color: transparent;
}
.linkedin {
    background-image: url(http://i.imgur.com/3708g.png );
    width: 50px;
    height: 50px;
    background-position: -449px 145px;
}
.gitHub {
    background-image: url(http://i.imgur.com/3708g.png );
    width: 50px;
    height: 50px;
    background-position: -316px 145px;
}
.youTube {
    background-image: url(http://i.imgur.com/3708g.png );
    width: 50px;
    height: 50px;
    background-position: -95px 145px; 
}
.columIzq .contenedorImgs img {
    height: 100%;
    min-height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.columDer .contenedorImgs img:first-of-type {
    height: 100%;
    min-height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.columDer .contenedorImgs img:nth-child(2) {
    height: 100%;
    min-height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.columDer .contenedorImgs img:nth-child(3) {
    height: 100%;
    min-height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
