main{
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
}

div {
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: sans-serif;
}

div:nth-child(4){
    background-color: cornflowerblue;
    order: 1;
}