main {
    height: 100vh;
    display: grid; 
    grid-gap: 10px;

    grid-template-columns: 
        repeat(8,minmax(min-content,max-content));
}
main > * {
    font-family: sans-serif;
    background-color:darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}