html * {
    box-sizing: border-box;
}
main{
    height: 100vh;
    display: grid;

    grid-template-areas: 
        "header"
        "lateral1"
        "imgTitulo"
        "contenido1"
        "contenido2"
        "lateral2"
        "footer";
    grid-template-rows: 
        [inicio] 1fr
        [lateral1-start] 1fr
        [literal1-end imgTitulo-start] 3fr
        [imgTitulo-end contenido1-start] 2fr
        [contenido1-end contenido2-start] 2fr
        [lateral2-start] 1fr
        [footer-start] 1fr
        [fin]
        ;
}
main > * {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header{
    grid-area: header;
    background-color: cornflowerblue;
}
aside:first-of-type{
    grid-area: lateral1;
    background-color:cyan;
}
article:first-of-type{
    grid-area: imgTitulo;
    background-color: ghostwhite;
    flex-direction: column;
}
article:first-of-type img {
    width: 100%;
    height: auto;
}
article:nth-last-of-type(2){
    grid-area: contenido1;
    background-color: darksalmon;
}
article:last-of-type{
    grid-area: contenido2;
    background-color: deepskyblue;
}
aside:last-of-type{
    grid-area: lateral2;
    background-color: darkcyan;
    align-content: center;
}
footer{
    grid-area: footer;
    background-color: darkblue;
}

h1{
    text-align: center;
}
h1,p,img {
    margin:15px 10px;
}

@media(min-width: 600px){
    main{
        /* grid-template: 
        
            [inicio] "header header header" 1fr
            [lateral1-start lateral1-end] "literal1 imgTitulo imgTitulo" 4fr
            [imgTitulo-end literal2-end] "literal2 contenido1 contenido2" 2fr
            [footer-start footer-end] "footer footer footer" 1fr
            /
        
            [inicio lateral1-end] 1fr [contenido1-start contenido1-end]  2fr [contenido2-start contenido2-end] 2fr
        ; */
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 1fr 3fr 2fr 1fr;
        grid-template-areas: 
        "header header header"
        "lateral1 imgTitulo imgTitulo"
        "lateral2 contenido1 contenido2"
        "footer footer footer";

    }
}